body {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    color: #000000;
    font-family: Gill Sans, sans-serif;
    font-size: 90%;
    line-height: 1.2;
    font-weight: normal;
    text-align: justify;
    text-indent: 0;
    word-spacing: normal;
}

header {
    background: #CCCCCC;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Snell Roundhand, serif;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}

nav {
    background: #F2F2F2;
    text-align: center;
    margin: 0;
    padding: 0;
}

a {
    color: #a35fc4;
    text-decoration: underline;
}

table {
    width: 50%;
    border: 2px solid white;
    background: #B3AF9F;
    margin-bottom: 20px;
}

.first_row {
    background: #D9D4C1;
    text-align: center;
}

.even {
    background: #e7e6d4;
}

.uneven {
    background: #c7c4b2;
}

aside {
    position: absolute;
    right: 0;
    background: #E6E6E6;
    padding: 10px;
    width: 400px;
    float: right;
}

section {
}

article {
}

pre {
    text-indent: 0;
}

footer {
}

img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.role {
    color: #dc6f6f;
}

.ascii {
}

@media screen and (max-width: 700px) {
    .ascii {
        display: none;
    }
}

#grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}

.rashid {
    color: white;
}