body {
    background: #D4CFBC;
    color: #fff;
    font-family: Courier New;
}
h1 {
    color: #fff;
    font-family: Snell Roundhand;
    font-size: 250%;
}
nav {
    background-color: #D9D4C1;
    color: #adaa9c;
}
aside {
    background: #6E6B62;
    padding: 10px;
    width: 200px;
    float: right;
}
section {
    background: #B3AF9F;
}
article {
    background: #BFBBAA;
}
pre {
    color: #73716b;
}
footer {
    background: #D9D4C1;
}